In [33]:
import pandas as pd

In [34]:
essay = pd.read_csv('wcpr_essays.csv', encoding='cp1252')
personality = pd.read_csv('wcpr_mypersonality.csv', encoding='cp1252')

essay.head()

,#AUTHID,TEXT,cEXT,cNEU,cAGR,cCON,cOPN
0,1997_504851.txt,"Well, right now I just woke up from a mid-day ...",n,y,y,n,y
1,1997_605191.txt,"Well, here we go with the stream of consciousn...",n,n,y,n,n
2,1997_687252.txt,An open keyboard and buttons to push. The thin...,n,y,n,y,y
3,1997_568848.txt,I can't believe it! It's really happening! M...,y,n,y,y,n
4,1997_688160.txt,"Well, here I go with the good old stream of co...",y,n,y,n,y

In [35]:
personality.head(10)

,#AUTHID,STATUS,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,cAGR,cCON,cOPN,DATE,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY
0,b7b7764cfa1c523e4e93ab2a79a946c4,likes the sound of thunder.,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,06/19/09 03:21 PM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
1,b7b7764cfa1c523e4e93ab2a79a946c4,is so sleepy it's not even funny that's she ca...,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,07/02/09 08:41 AM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
2,b7b7764cfa1c523e4e93ab2a79a946c4,is sore and wants the knot of muscles at the b...,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,06/15/09 01:15 PM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
3,b7b7764cfa1c523e4e93ab2a79a946c4,likes how the day sounds in this new song.,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,06/22/09 04:48 AM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
4,b7b7764cfa1c523e4e93ab2a79a946c4,is home. <3,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,07/20/09 02:31 AM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
5,b7b7764cfa1c523e4e93ab2a79a946c4,www.thejokerblogs.com,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,07/16/09 03:21 PM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
6,b7b7764cfa1c523e4e93ab2a79a946c4,"saw a nun zombie, and liked it. Also, *PROPNAM...",2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,06/27/09 05:41 AM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
7,b7b7764cfa1c523e4e93ab2a79a946c4,is in Kentucky. 421 miles into her 1100 mile j...,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,07/18/09 06:34 AM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
8,b7b7764cfa1c523e4e93ab2a79a946c4,was about to finish a digital painting before ...,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,07/09/09 02:58 PM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1
9,b7b7764cfa1c523e4e93ab2a79a946c4,is celebrating her new haircut by listening to...,2.65,3.0,3.15,3.25,4.4,n,y,n,n,y,07/07/09 11:41 PM,180.0,14861.6,93.29,0.03,15661.0,0.49,0.1

## My essay preprocessing 
I will replace two classes 'y' and 'n' of all columns to 'high' and 'low'.

Besides, I will concat all essay or comment of the author into 1 column 'text'

In [36]:
trait_list = ['cEXT', 'cNEU', 'cAGR', 'cCON', 'cOPN']
essay1 = essay.copy()
essay1 = essay1.drop(columns=['#AUTHID'])
essay1 = essay1.rename(columns = {'TEXT' : 'text'})
essay1.head()

                                                text cEXT cNEU cAGR cCON cOPN
0  Well, right now I just woke up from a mid-day ...    n    y    y    n    y
1  Well, here we go with the stream of consciousn...    n    n    y    n    n
2  An open keyboard and buttons to push. The thin...    n    y    n    y    y
3  I can't believe it!  It's really happening!  M...    y    n    y    y    n
4  Well, here I go with the good old stream of co...    y    n    y    n    y

## My Personality preprocessing
I will replace two classes 'y' and 'n' of all columns to 'high' and 'low'.

Besides, I will concat all essay or comment of the author into 1 column 'text'

In [37]:
personality1 = personality.copy()
personality1 = personality1.rename(columns = {'STATUS' : 'text'})
personality1 = (
    personality1
    .groupby('#AUTHID', as_index=False)
    .agg({
        'text': '\n\n'.join,
        'cEXT': 'first',
        'cNEU': 'first',
        'cAGR': 'first',
        'cCON': 'first',
        'cOPN': 'first'
    })
)
personality1.head()

,#AUTHID,text,cEXT,cNEU,cAGR,cCON,cOPN
0,00419a4c96b32cd63b2c7196da761274,back in cali!!!,n,y,n,y,n
1,02c37028a782cfda660c7243e45244bb,Supervisor: *PROPNAME* (second preference) Res...,n,y,n,n,n
2,03133a828cd0cf52e3752813ce5d818f,Did Cindy 30 times in 20 minutes and GI jane i...,y,y,n,y,n
3,03e6c4eca4269c183fa0e1780f73faba,"""Those who criticize our generation forget who...",n,y,y,y,y
4,06b055f8e2bca96496514891057913c3,is enjoying the cricket...comfy boxers and rai...,n,n,n,y,n

In [38]:
def transform_label(df):
    for trait in trait_list: 
        df[trait] = df[trait].map({'y' : 'high', 'n' : 'low'})
        
transform_label(essay1) 
transform_label(personality1)
personality1.drop(columns=['#AUTHID'], inplace=True)
personality1.head()

,text,cEXT,cNEU,cAGR,cCON,cOPN
0,back in cali!!!,low,high,low,high,low
1,Supervisor: *PROPNAME* (second preference) Res...,low,high,low,low,low
2,Did Cindy 30 times in 20 minutes and GI jane i...,high,high,low,high,low
3,"""Those who criticize our generation forget who...",low,high,high,high,high
4,is enjoying the cricket...comfy boxers and rai...,low,low,low,high,low

In [39]:
personality1.to_csv('processed_mypersonality.csv')
essay1.to_csv('processed_essay.csv')